* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  max-width: 50em;
  margin: 0 auto;
  padding: 36px;
}

/* Header Style */

.header--container {
  background: linear-gradient(to right, #682380, #A728D4);
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  padding-right: 2em;
}

@media (min-width: 90em) {
  .header--container {
    justify-content: space-around;
  }
}

.header--logo--container {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.header--logo {
  max-height: 32px;
  margin-right: .5em;
}

.header--title {
  font-size: 21px;
}

.header--project {
  font-size: 12px;
  font-weight: 500;
}

/* Form Style */

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  text-indent: 5px;
  transition: transform 200ms ease-out;
}

.form--button {
  grid-column: 1 / -1;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: #FFF;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  transition: transform 200ms ease-out;
}

.form--button:hover,
.form--button:focus {
  transform: scale(1.01);
  opacity: .9;
}

.form--button:active {
  transform: scale(.99);
}

.form--input::placeholder {
  color: #711F8D;
}

.form--input:hover,
.form--input:focus {
  transform: scale(1.01);
  opacity: none;
}

.form--input:focus {
  background-color: rgb(248, 219, 255);
  outline-color: #711F8D;
}

/* Meme Style */

.meme {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1em;
}

.meme--image {
  max-width: 80%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}